@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;1,300&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background: #1b333e;
	background-size: 200% 200%;
	animation: color 12s ease-in-out infinite;
	font-family: 'Rubik', sans-serif;
	color: #fff;
}

html::-webkit-scrollbar {
	display: none;
}

.container {
	padding: 0 15px;
}

@keyframes color {
	0% {
		background-position: 50% 0%;
	}
	50% {
		background-position: 50% 100%;
	}
	100% {
		background-position: 50% 0%;
	}
}

ul {
	list-style: none;
}
